<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:include="layout/common :: common-header" th:remove="tag"></script>
	<script type="text/javascript" th:src="${#httpServletRequest.contextPath+'/resources/js/lib/page/page.js'}"></script>
<script type="text/javascript" th:src="${#httpServletRequest.contextPath+'/resources/js/templet/templet.js'}"></script>
	<script type="text/javascript" src="js/lib/ckeditor/ckeditor.js" th:src="${#httpServletRequest.contextPath+'/resources/js/lib/ckeditor/ckeditor.js'}" ></script>
	<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css" th:href="${#httpServletRequest.contextPath+'/resources/js/lib/ckeditor/samples/samples.css'}"></link>
</head>
<body>
<div class="easyui-panel" title="查询条件" style="width:100%;">
  <div style="padding:5px 20px 5px 50px;">
<form id="f1" method="post">
<table cellpadding="5" >
<tr>
<!--  
<td>总公司:<input class="easyui-textbox" type="text" name="name" style="width: 60px" ></input></td>-->
<td>组织机构:
<input id="organization" name="organization" data-options="min:0,max:1000,editable:false" style="width:150px;disabled:false"></input>
</td>
<td>创建日期:
<input class="easyui-datebox" name="beginDate" id="beginDate"></input>
<input class="easyui-datebox" name="endDate" id="endDate"></input>
</td><td><div style="text-align:right;padding:5px;margin-right: 0px">
<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" name="queryBtn">查询</a>
<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清空</a>
<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" id="add" >新增</a>
</div></td>
</tr>
</table>
</form>
</div>
</div>
<div style="width:100%;margin-top:6px"></div>
<div class="easyui-panel"   title="模板列表" style="width:100%;">
<table id="table" border="0" cellpadding="2" cellspacing="0" toolbar="#tb" style="width: 100%;"></table>
</div>


<!-- area 2:list add new dialog-->
	<div id="dlgadd" class="easyui-dialog" title="模板添加"
		style="width: 700px; height: 500px; padding: 0px; padding-left: 30px; align: center">
		<!-- content begin -->
		<div id="loga" style="padding: 10px"></div>
<form id="ff" method="post">
<table cellpadding="5">

<tr>
<td>模板名称:</td>
<td>
<input class="easyui-textbox" id="name" name="name" data-options="required:true,validType:['length[0,100]']"  missingMessage="该信息不能为空"></input>
</td>
</tr>
<tr>
<td>模板描述:</td>
<td><input class="easyui-textbox" id="descript" name="descript" data-options="multiline:true,validType:['length[0,1000]']" style="height:60px"></input></td>
</tr>
<tr>
<td>保存路径:</td>
<td>
<input  panelHeight="70" id="url" name="url" value="请选择模板保存路径" required="required" data-options="min:0,max:1000,editable:false,validType:['length[0,100000]']"></input></td>
</tr>
<tr>
<td>所属部门:</td>
<td>
<input  id="userOrganization" name="userOrganization"  panelHeight="50"  required="required"  data-options="min:0,max:1000,editable:false" style="width:150px;disabled:false;h"></input></td>
</tr>
<tr>
<td>模板源码:</td>
<td>
<p class="flip">查看源码</p>
<div class="panelContent">
<input class="easyui-textbox" id="content" name="content" data-options="multiline:true,required:true" style="height:140px;width:500px " missingMessage="该信息不能为空"></input>
</div>
</td>
</tr>
<tr>
<td>模板文件</td>
<td><input class="easyui-textbox"></input><a href="javascript:void(0)" id="sub" iconCls="icon-ok" class="easyui-linkbutton" >预览</a></td>
</tr>
</table>
<input type="hidden" name="keyid" id="keyid" ></input> 
<input type="hidden" name="createDate" id="createDate" ></input> 
<input type="hidden" name="rowIndex" id="rowIndex" value=""></input> 
</form>
<div>
<a href="javascript:void(0)" id="sub" iconCls="icon-ok" class="easyui-linkbutton" >提交</a>
<a href="javascript:void(0)" iconCls="icon-clear"  class="easyui-linkbutton" onclick="clearFf()">清空</a>

</div>
</div>


<script>
$(document).ready(function(){
$(".flip").click(function(){
    $(".panelContent").slideToggle("slow");
  });
});

function submitForm(){
	$('#ff').form('submit');
	}
	function clearForm(){
	$('#f1').form('clear');
	}

	function clearFf(){
	$('#ff').form('clear');
		}
</script>
 
<style type="text/css"> 
div.panelContent,p.flip
{
margin:0px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.panelContent
{
height:150px;
display:none;
}
</style>

</body>
</html>